[Desktop Entry]
Name=DuckDesk
NoDisplay=true
MimeType=x-scheme-handler/duckdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
